@using Microsoft.AspNetCore.Mvc.Localization
@using ARINLAB.Areas.Admin.Utils
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer localizer
@using DAL.Models.Dto
@using System.Globalization
@using ARINLAB.Models
@model List<DAL.Models.Dto.AudioFileForClauseDto>
@{
    string dictName = "";
    ViewData["Title"] = "Index";
    EditWordClauseDto m = null;
    bool ress = false;
    if (ViewBag.RatingResult != null)
        ress = (bool)(ViewBag.RatingResult);
    if (ViewBag.Model != null)
    {
        m = ((EditWordClauseDto)ViewBag.Model);
    }
    try
    {
        if (ViewBag.Dictionaries != null)
        {
            var getdictName = ((List<DAL.Models.Dictionary>)ViewBag.Dictionaries).SingleOrDefault(p => p.Id == m.DictionaryId);
            string culture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
            if (culture == "ar")
                dictName = getdictName.ArabTranslate;
            else
                dictName = getdictName.Language;
        }
    }
    catch (Exception e)
    {

    }
}
@await Component.InvokeAsync("OtherMenu")


@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between" style="width: 140px;">
        <a href=""><img src="~/images/Icons/Bug.svg"></a>
        <a href=""><img src="~/images/Icons/Print.svg"></a>
        <a href=""><img src="~/images/Icons/Copy_link.svg"></a>
        <a href=""><img src="~/images/Icons/Share_black.svg"></a>           
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <a href=""><img src="~/images/Icons/Eye.svg"></a>
        <small style="margin-right: 15px;">16879</small>
        <div>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
        </div>
    </div>
</div>
<div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 9px; font-size: 18px;">
    <div class="wrapper">
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Word in Turkmen:</h3>
            <h3 style="font-weight: bold;">Word in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg"> Mugallym</p>
            <p>Moallem <img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5 bg-gray-100"style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Sentence in Turkmen:</h3>
            <h3 style="font-weight: bold;">Sentence in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg">Mugallym cagalara owredyar</p>
            <p>Muallim yualimu aletfale<img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Transcription in Arabic:</h3>
            <h3 style="font-weight: bold;">Transcription in Turkmen:</h3>
        </div>
        <div class="justify-between flex flex-row px-2" style="margin-top: 20px; margin-left: 40px; margin-right: 40px; border-bottom: 1px solid silver; padding-bottom: 10px; paddding-left: 40px; padding-right: 40px;">
            <p>Mugallym cagalary okadyar</p>
            <p>Muallim yualimu aletfale</p>
        </div>
    </div>
</div>
}
else
{
    <div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between" style="width: 140px;">
        <a href=""><img src="~/images/Icons/Bug.svg"></a>
        <a href=""><img src="~/images/Icons/Print.svg"></a>
        <a href=""><img src="~/images/Icons/Copy_link.svg"></a>
        <a href=""><img src="~/images/Icons/Share_black.svg"></a>           
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <a href=""><img src="~/images/Icons/Eye.svg"></a>
        <small style="margin-right: 15px;">16879</small>
        <div>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
            <img style="width: 22px; height: 24px;" src="https://img.icons8.com/color/48/000000/filled-star--v1.png"/>
        </div>
    </div>
</div>
<div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 9px; font-size: 18px;">
    <div class="wrapper">
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Word in Turkmen:</h3>
            <h3 style="font-weight: bold;">Word in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg"> Mugallym</p>
            <p>Moallem <img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5 bg-gray-100"style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Sentence in Turkmen:</h3>
            <h3 style="font-weight: bold;">Sentence in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg">Mugallym cagalara owredyar</p>
            <p>Muallim yualimu aletfale<img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Transcription in Arabic:</h3>
            <h3 style="font-weight: bold;">Transcription in Turkmen:</h3>
        </div>
        <div class="justify-between flex flex-row px-2" style="margin-top: 20px; margin-left: 40px; margin-right: 40px; border-bottom: 1px solid silver; padding-bottom: 10px; paddding-left: 40px; padding-right: 40px;">
            <p>Mugallym cagalary okadyar</p>
            <p>Muallim yualimu aletfale</p>
        </div>
    </div>
</div>
}

<button id="btn" hidden></button>
@section Scripts{
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script> -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script> -->
    <script src="/dist/simple-notify.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/OverlayScrollbars.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
         const btn = document.querySelector('#btn')

        btn.addEventListener('click', () => {
            new Notify({
                status: 'success',
                title: '@SharedLocalizer["Thank you"]',
                text: '@SharedLocalizer["Your rating have been successfully recorded"]',
                effect: 'fade',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: true,
                autoclose: false,
                autotimeout: 3000,
                gap: 60,
                distance: 20,
                type: 1,
                position: 'right top',
                customWrapper: '',
            })
        });

    function playAudio(id) {

        var x = document.getElementById(id);
        x.play();
    }

    function pauseAudio(id) {

        var x = document.getElementById(id);
        x.pause();
    }
    </script>
    @if (ress)
    {
        <script>
            document.getElementById("btn").click();
        </script>
    }
}