@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@await Component.InvokeAsync("OtherMenu")

<div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between" style="width: 140px;">
        <a href=""><img src="~/images/Icons/Bug.svg"></a>
        <a href=""><img src="~/images/Icons/Print.svg"></a>
        <a href=""><img src="~/images/Icons/Copy_link.svg"></a>
        <a href=""><img src="~/images/Icons/Share_black.svg"></a>           
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <a href=""><img src="~/images/Icons/Eye.svg"></a>
        <small style="margin-right: 15px;">16879</small>
             <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
    </div>
</div>
<div class="container" style="width: 700px;margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 9px; font-size: 18px;">
    <div class="wrapper" style="margin: 20px; padding-bottom: 70px;">
        <h2 style="font-size: 33px; font-weight: bold; margin-bottom: 20px;">6 ways to wake up without coffe</h2>
        <div>
            <img style="float: left; margin-right: 15px; width: 150px; height: 150px; border-radius: 50%; border: 3px solid green;" src="~/images/Logo/61097513bc084caf8d47cc6492401d95.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Earum, laudantium et? Inventore perspiciatis error nihil eligendi laudantium
             necessitatibus aliquid nam eveniet sequi, quasi quo cum rerum reiciendis pariatur alias asperiores. <br> Lorem ipsum dolor 
             sit, amet consectetur adipisicing elit. Rem, possimus? Delectus eos perspiciatis sint, eligendi odio reprehenderit suscipit 
             aliquam repudiandae nulla quos voluptas autem laboriosam velit ex deleniti, aliquid aspernatur? </p>
        </div>
    </div>
</div>


