@media screen and (min-width: 1201px) {
    .popup {
        transform: translate(-60%, -70%);
    }
}

@media screen and (max-width: 1200px) {
    .popup {
        transform: translate(-40%, -180%);
    }

    .content {
      width: 500px;
      margin: 100px auto 370px;
    }
    
  .content_wrapper {
    width: 700px;
    height: 200px;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 50px);
    gap: 20px;
  }

  .word_title h3 {
    margin-right: 185px;
    margin-top: 15px;
  }

  .volume {
    margin-bottom: 30px;
  }

  .comments {
    width: 800px;
    margin: 0 auto 0 140px;
    position: absolute;
    top: 450px;
  }

  .be-comment-block {
      padding: 20px 20px;
  }

  .be-comment-block h3 {
    text-align: center;
  }

  .be-comment-content {
    margin-left: 10px;
  }

  .be-comment-text {
    font-size: 18px;
  }

  .pagination {
    display: inline-block;
    margin: 40px auto 30px 5px;
  }

  .form-group .form-input {
    font-size: 16px;
    width: 99%;
    margin: 0 auto 0 25px;
  }

  .form-block .row {
    margin: 0 35px 0 0 !important;
  } 

  #login_btn {
    margin: 0 auto 0 310px;
  }

  .footer {
    margin-top: 100px;
    height: 70vh;
  }

  .content_2 {
    margin: 100px auto 0 100px;
  }

  .content_wrapper_2 {
    width: 900px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(2, 50px);
    gap: 20px;
  }

  #add_btn {
    margin: 10px auto 30px 280px;
  }

  #close {
    width: 70px;
    margin: 10px auto 30px 90px;
  }

  .input_wrapper {
    width: 450px;
    margin: 0 auto 0 300px;
  }

  .new_words_container {
    width: 750px;
    padding: 20px;
    flex-direction: row;
    margin: 100px auto 0 155px;
  }
  
  .new_word {
    width: 290px;
  }

  .word_title_2 .tm {
    margin-left: 170px;
    margin-right: 140px;
  }

  .container_login {
    margin: 0 auto 0 290px;
  }

  .inner {
    width: 900px;
  }

  #login_btn {
    margin: 0 auto 0 190px;
  }

  .container_register {
    margin: 0 auto 0 290px;
  }

  .inner {
    width: 900px;
  }

  #register_btn {
    margin: 0 auto 0 180px;
  }

  #words_footer{
    position: absolute;
    top: 1400px;
  }

  #words_footer_button_div button {
    margin: 0 auto 0 300px;
  }

  #words_rights {
    margin-left: 390px;
  }

  #addword_footer {
    height: 60vh;
  }

  #addword_footer .rights {
    margin-left: 260px;
  }

  #addword_footer .wrapper{
    flex-direction: row;
  }
}



@media screen and (max-width: 1023px) {
    .popup {
        width: 600px;
        left: 50%;
        top: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -100%);
    }

    .container {
        width: 600px;
        padding-right: 80px;
        justify-content: center;
        align-items: center;
      }

      #close {
        width: 120px;
        margin: 10px auto 0 210px;
    }
    .green_table_title {
        margin: 0 auto 0 335px;
        margin-top: 25px;
    }

    .content {
      width: 500px;
      margin: 100px auto 260px;
    }
  
    .content_wrapper {
        width: 700px;
        height: 200px;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(2, 50px);
        gap: 20px;
    }
  
    .word_title h3 {
      margin-right: 185px;
      margin-top: 15px;
    }
  
    .volume {
      margin-bottom: 30px;
    }
  
    .comments {
      width: 700px;
      margin: 0 auto 0 35px;
      position: absolute;
      top: 450px;
    }
  
    .be-comment-block {
        padding: 20px 20px;
    }
  
    .be-comment-block h3 {
      text-align: center;
    }
  
    .be-comment-content {
      margin-left: 10px;
    }
  
    .be-comment-text {
      font-size: 18px;
    }
  
    .pagination {
      display: inline-block;
      margin: 40px auto 30px 5px;
    }
  
    .form-group .form-input {
      font-size: 16px;
      width: 99%;
      margin: 0 auto 0 25px;
    }
  
    .form-block .row {
      margin: 0 35px 0 0 !important;
    } 
  
    #login_btn {
      margin: 0 auto 0 250px;
    }

    .footer {
      margin-top: 100px;
      height: 60vh;
    }

    .content_2 {
      margin: 100px auto 0 40px;
    }
  
    .content_wrapper_2 {
      width: 750px;
      height: 150px;
      display: grid;
      grid-template-columns: repeat(3, 220px);
      grid-template-rows: repeat(2, 50px);
      gap: 20px;
    }
  
    #add_btn {
      margin: 10px auto 30px 230px;
    }
  
    #close {
      width: 70px;
      margin: 10px auto 30px 50px;
    }
  
    .input_wrapper {
      width: 390px;
      margin: 0 auto 0 220px;
    }
  
    .new_words_container {
      width: 650px;
      padding: 20px;
      flex-direction: row;
      margin: 100px auto 0 70px;
    }
    
    .new_word {
      width: 290px;
    }

  .word_title_2 .tm {
    margin-left: 170px;
    margin-right: 140px;
  }

  .container_login {
    margin: 0 auto 0 150px;
  }

  .inner {
    width: 600px;
  }

  #login_btn {
    margin: 0 auto 0 180px;
  }

  .container_register {
    margin: 0 auto 0 150px;
  }

  .inner {
    width: 600px;
  }

  #register_btn {
    margin: 0 auto 0 180px;
  }

  #words_footer{
    position: absolute;
    top: 1400px;
  }
}

@media screen and (max-width: 770px) {
    .popup {
        width: 550px;
        left: 30%;
        top: 50%;
        justify-content: center;
        align-items: center;
    }

   /* .container {
        width: 500px;
        margin: 40px auto 0 65px ;
        justify-content: center;
        align-items: center;
      }*/

      #close {
        width: 120px;
        margin: 10px auto 0 260px;
    }

    .green_table_title {
        margin: 0 auto 0 235px;
        margin-top: 25px;
    }

    .footer {
        width: 100vw;
        height: 70vh;
    }
    
    .wrapper {
       flex-direction: column;
       padding: 0;
    }

    .rights {
        margin: 15px auto 15px 25px;
    }

    .wrapper ul {
        margin-top: 10px;
    }

    .logo {
        text-align: center;
    }

    .content {
      width: 300px;
      margin: 100px auto 0 170px;
    }
  
    .content_wrapper {
        width: 600px;
        height: 200px;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(2, 50px);
        gap: 10px;
    }
  
    .word_title h3 {
      margin-right: 190px;
      margin-top: 15px;
    }
  
    .volume {
      margin-bottom: 30px;
    }
  
    .comments {
      width: 700px;
      margin: 0 auto 0 40px;
      position: absolute;
      top: 600px;
    }
  
    .be-comment-block {
        padding: 20px 20px;
    }
  
    .be-comment-block h3 {
      text-align: center;
    }
  
    .be-comment-content {
      margin-left: 10px;
    }
  
    .be-comment-text {
      font-size: 16px;
    }
  
    .pagination {
      display: inline-block;
      margin: 40px auto 30px 5px;
    }
  
    .form-group .form-input {
      font-size: 16px;
      width: 99%;
      margin: 0 auto 0 25px;
    }
  
    .form-block .row {
      margin: 0 35px 0 0 !important;
    } 
  
    #login_btn {
      margin: 0 auto 0 60px;
    }

    .footer {
      margin-top: 100px;
      height: 80vh;
    }

    .content_2 {
      margin: 100px auto 0 40px;
    }
  
    .content_wrapper_2 {
      width: 700px;
      height: 200px;
      display: grid;
      grid-template-columns: repeat(3, 220px);
      grid-template-rows: repeat(2, 50px);
      gap: 20px;
    }
  
    #add_btn {
      margin: 0 auto 30px 220px;
    }
  
    #close {
      width: 70px;
      margin: 10px auto 30px 40px;
    }
  
    .input_wrapper {
      width: 420px;
      margin: 0 auto 0 170px;
    }
  
    .new_words_container {
      width: 650px;
      padding: 20px;
      flex-direction: row;
      margin: 100px auto 0 65px;
    }
    
    .new_word {
      width: 290px;
    }

  #words_footer{
    position: absolute;
    top: 1400px;
    height: 60vh;
  }

  #words_rights {
    margin-left: 270px;
  }

  #words_footer_wrapper {
    flex-direction: row;
  }

  #words_footer_button_div button {
    margin: 0 auto 0 250px;
  }
}

@media screen and (max-width: 480px) {    
    .popup {
        width: 550px;
        left: 30%;
        top: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -60%);
    }

    /*.container {
        width: 500px;
        margin: 40px auto 0 90px ;
        justify-content: center;
        align-items: center;
      }*/

      #close {
        width: 120px;
        margin: 10px auto 0 250px;
    }

    .searchbox{
        padding:13px;
        width:320px;
        margin:30px auto;
    }

    input[type="search"]{
        width:250px;
    }

    .swiper {
        width: 87%;
        margin: 0 17px 0 auto; 
      }    

      .green_table_title {
        margin: 0 auto 0 125px;
        margin-top: 20px;
    }

    .wrapper {
       flex-direction: column;
       padding: 0;
    }

    .rights {
        margin: 15px auto 15px 25px;
    }

    .wrapper ul {
        margin-top: 10px;
    }

    .logo {
        text-align: center;
    }

    .content {
      width: 300px;
      margin: 100px auto 0 60px;
    }
  
    .content_wrapper {
        width: 300px;
        height: 200px;
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(2, 50px);
        gap: 10px;
    }
  
    .word_title h3 {
      margin-right: 0;
      margin-top: 15px;
    }
  
    .word_title .tm_title {
      position: absolute;
      top: 360px;
    }
  
    .volume {
      margin-bottom: 30px;
    }
  
    .comments {
      width: 320px;
      margin: 0 auto 0 30px;
      position: absolute;
      top: 600px;
    }
  
    .be-comment-block {
        padding: 20px 20px;
    }
  
    .be-comment-block h3 {
      text-align: center;
    }
  
    .be-comment-content {
      margin-left: 10px;
    }
  
    .be-comment-text {
      font-size: 16px;
    }
  
    .pagination {
      display: inline-block;
      margin: 40px auto 30px 5px;
    }
  
    .form-group .form-input {
      font-size: 16px;
      width: 99%;
      margin: 0 auto 0 25px;
    }
  
    .form-block .row {
      margin: 0 35px 0 0 !important;
    } 
  
    #login_btn {
      margin: 0 auto 0 60px;
    }

    .footer {
      margin-top: 100px;
      height: 80vh;
    }

    .content_2 {
      margin: 100px auto 0 40px;
    }
  
    .content_wrapper_2 {
      width: 300px;
      height: 350px;
      display: grid;
      grid-template-columns: repeat(1, 300px);
      grid-template-rows: repeat(2, 50px);
      gap: 20px;
    }
  
    #add_btn {
      margin: 50px auto 30px 110px;
    }
  
    #close {
      width: 70px;
      margin: 10px auto 30px 150px;
    }
  
    .input_wrapper {
      width: 320px;
      margin: 0 auto 0 30px;
    }
  
    .new_words_container {
      width: 320px;
      padding: 15px;
      flex-direction: column;
      margin: 100px auto 0 30px;
    }
    
    .new_word {
      width: 290px;
    }

  .word_title_2 .tm {
    margin: 0 auto 0 0;
    position: absolute;
    top: 380px;
  }

  .container_login {
    margin: 0 auto 0 40px;
  }

  .inner {
    width: 300px;
  }

  #login_btn {
    margin: 0 auto 0 100px;
  }

  .container_register {
    margin: 0 auto 0 40px;
  }

  .inner {
    width: 300px;
  }

  #register_btn {
    margin: 0 auto 0 90px;
  }

  #words_footer_button_div button {
    margin: 0 auto 0 60px;
    position: absolute;
    bottom: 300px;
  }

  #words_rights {
    margin-left: 30px;
  }

  #words_footer{
    position: absolute;
    top: 1800px;
    height: 60vh;
  }

  #addword_footer {
    height: 70vh;
  }

  #addword_footer .wrapper {
    flex-direction: column;
  }

  #addword_footer .rights {
    margin-left: 25px;
  }
}

@media screen and (max-width: 320px) {
    .searchbox{
        padding:13px;
        width:310px;
        margin:30px auto;
    }

    input[type="search"]{
        width:240px;
    }

    .swiper {
        width: 85%;
      }

      .green_table_title {
        margin: 0 auto 0 110px;
        margin-top: 20px;
    }

    .wrapper {
       flex-direction: column;
       padding: 0;
    }

    .rights {
        margin: 15px auto 15px 25px;
    }

    .wrapper ul {
        margin-top: 10px;
    }

    .logo {
        text-align: center;
    }

    .wrapper_green {
      margin: 5px;
    }

    .content {
    width: 300px;
    margin: 100px auto 0 25px;
  }

  .content_wrapper {
      width: 290px;
      height: 200px;
      grid-template-columns: repeat(1, 250px);
      grid-template-rows: repeat(2, 50px);
      gap: 10px;
  }

  .word_title h3 {
    margin-right: 0;
    margin-top: 15px;
  }

  .word_title .tm_title {
    position: absolute;
    top: 360px;
  }

  .volume {
    margin-bottom: 30px;
  }

  .comments {
    width: 300px;
    margin: 0 auto 0 10px;
    position: absolute;
    top: 600px;
  }

  .be-comment-block {
      padding: 20px 20px;
  }

  .be-comment-block h3 {
    text-align: center;
  }

  .be-comment-content {
    margin-left: 10px;
  }

  .be-comment-text {
    font-size: 16px;
  }

  .pagination {
    display: inline-block;
    margin: 40px auto 30px 5px;
  }

  .form-group .form-input {
    font-size: 16px;
    width: 99%;
    margin: 0 auto 0 25px;
  }

  .form-block .row {
    margin: 0 35px 0 0 !important;
  } 

  #login_btn {
    margin: 0 auto 0 60px;
  }

  .footer {
    margin-top: 100px;
    height: 80vh;
  }

  .content_2 {
    margin: 100px auto 0 20px;
  }

  .content_wrapper_2 {
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(2, 50px);
    gap: 20px;
  }

  #add_btn {
    margin: 50px auto 30px 100px;
  }

  #close {
    width: 70px;
    margin: 10px auto 30px 123px;
  }

  .input_wrapper {
    width: 300px;
    margin: 0 auto 0 10px;
  }

  .new_words_container {
    width: 300px;
    padding: 10px;
    flex-direction: column;
    margin: 100px auto 0 10px;
  }
  
  .new_word {
    width: 280px;
  }

  .container_login {
    margin: 0 auto 0 10px;
  }

  .inner {
    width: 300px;
  }

  #login_btn {
    margin: 0 auto 0 100px;
  }

  .container_register {
    margin: 0 auto 0 10px;
  }

  .inner {
    width: 300px;
  }

  #register_btn {
    margin: 0 auto 0 90px;
  }

  #words_footer_button_div button {
    margin: 0 auto 0 50px;
    position: absolute;
    bottom: 300px;
  }

  #words_rights {
    margin-left: 30px;
  }

  #words_footer{
    position: absolute;
    top: 1800px;
    height: 60vh;
  }
  
  #addword_footer {
    height: 70vh;
  }

  #addword_footer .wrapper {
    flex-direction: column;
  }

  #addword_footer .rights {
    margin-left: 60px;
  }
}

  
@media screen and (max-width: 580px) {
    .green_table {
      display: block;
    }
  }
  
  .row_green {
    display: table-row;
    background: #f6f6f6;
  }
  .row_green:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .row_green.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
  }
  .row_green.green {
    background: #198754;
  }
  
  @media screen and (max-width: 580px) {
    .row_green {
      padding: 14px 0 7px;
      display: block;
    }
    .row_green.header {
      padding: 0;
      height: 6px;
    }
    .row_green.header .cell {
      display: none;
    }
    .row_green .cell {
      margin-bottom: 10px;
    }
    .row_green .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 16px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 12px;
    width: 400px;
    display: table-cell;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px;
      display: block;
    }
  }