@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using ARINLAB
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = SharedLocalizer["Forgot password confirmation"];
}

<div class="wrapper bg-gray-100 w-screen h-screen flex items-center justify-center flex-col" style="height: 60vh ">
    <div class="p-10 bg-white shadow-md rounded">
        <h1 class="text-success text-3xl">@ViewData["Title"]</h1>
        <p class="text-info text-2xl" >
            @SharedLocalizer["Please check your email to reset your password."]
        </p>
        <p style="margin-top:10px;">
            <a class="btn btn-danger" style="color:green" href="#" >@SharedLocalizer["Go to Main page"]</a>
        </p>
    </div>
</div>

