@page
@using ARINLAB
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<div class="wrapper bg-gray-100 w-screen h-screen flex items-center justify-center flex-col" style="height: 60vh ">
    <div class="p-10 bg-white shadow-md rounded">
        <div class="items-center text-xl max-w-xs px-10 text-center font-bold">
            @SharedLocalizer["Your Email have not been confirmed !!"]
        </div>
        <span class="max-w-xs block text-center text-sm mt-2 text-gray-400"> </span>
        <form class="input-forms flex flex-col py-2" id="account" method="post">
            @*<label asp-for="Input.Email"></label>*@
            <input asp-for="Input.Email" class="mt-4 py-3 border-gray-100 border-solid border-2 outline-none pl-4 focus:border focus:border-link rounded" placeholder="@SharedLocalizer["Email"]" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>


            <button type="submit" class="bg-blue-700 hover:bg-link text-center text-white py-3 mt-4 select-none rounded">@SharedLocalizer["Resend"]</button>
        </form>

        @*<div class="text-right max-w-xs text-sm leading-tight mt-5">
                <a id="forgot-password" asp-page="./ForgotPassword" class="text-gray-400 hover:text-link">@SharedLocalizer["Forgot your password?"]</a>
            </div>*@
    </div>
    @*<div class="text-center mt-4 max-w-sm">
            Еще не зарегистрировались?
            <a href="sign-up.html" class="text-link hover:text-secondary">Регистрация</a>
        </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
